<md-dialog flex="10">
    <md-dialog-content>
        <div layout-align="center" layout-padding="10">
            <md-input-container class="md-block">
                <input id="title" placeholder="Title">
            </md-input-container>
        </div>
        <div layout-align="center" layout-padding="10">
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea id="description" rows="5"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
        </md-button>
        <md-button ng-click="addCard()" class="md-primary">
            Create
        </md-button>
    </md-dialog-actions>
</md-dialog>