<md-dialog id="dialog" flex="50">
    <md-dialog-content>
        <div layout-align="center" layout-padding="10">
            <md-contact-chips
                    ng-model="vm.card.labels"
                    md-contacts="vm.querySearch($query)"
                    md-contact-name="name"
                    md-contact-image="image"
                    md-require-match="true"
                    md-highlight-flags="i"
                    filter-selected="true"
                    placeholder="Add Label">
            </md-contact-chips>
        </div>
        <div layout-align="center" layout-padding="10">
            <md-input-container class="md-block">
                <input id="title" placeholder="Title" ng-model="vm.card.title">
            </md-input-container>
        </div>
        <div layout-align="center" layout-padding="10">
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea id="description" rows="5" ng-model="vm.card.description"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.save()" class="md-primary">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
