<md-toolbar class="md-whiteframe-1dp" layout="row" class="md-hue-2">
    <md-button  aria-label="Settings">
        QuackJello
    </md-button>
    <span flex></span>
    <div layout="row" layout-align="center stretch">
        <md-menu>
            <md-button layout-align="center center"  aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
                <img class="toolbar-user-avatar"  src="img/user.png">
                <span>{{vm.user.firstname + ' ' + vm.user.lastname}}</span>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="vm.toggleNotificationsTab(2)" aria-label="side navigation">
                        <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                        <span translate="Settings">Settings</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.profile(vm.user.id)" aria-label="side navigation">
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <span translate="Profile">Profile</span>
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="vm.logout()" aria-label="side navigation">
                        <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                        <span translate="Logout">Logout</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
            <md-button ng-click="vm.openRightMenu()" class="md-button">
              Chat
            </md-button>
        </md-menu>
    </div>
</md-toolbar>

<md-sidenav md-component-id="right" class="md-sidenav-right">
    <div class="chat">
        <!-- Message list -->
        <div class="chat-history" id="chat-history">
          <ul class="ChatLog" ng-repeat="message in $root.messages">
            <li class="ChatLog-entry" ng-class="{'ChatLog-entry-mine': message.type == 'sent'}">
              <img class="ChatLog-avatar" src={{message.icon}} />
              <p class="ChatLog-message">
                {{message.data}}
              </p>
            </li>
          </ul>
        </div>

        <!-- Text area and "Send" button -->
        <div class="send-message">
            <form ng-submit="vm.send()">
                <input ng-model="vm.msgVal" class="chat-box" placeholder="Send message">
                <input type="submit" class="send-button" value=" "/>
            </form>
        </div>
    </div>
</md-sidenav>
