h3 {
    margin-left: 10px;
}

.firstList {
    margin-left: 12px;
}

.toolbar-user-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: middle;
}

.speed-dial {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.md-card-image {
    height: 32px;
    border-radius: 16px !important;
    margin: 5px;
}